@import url(http://fonts.googleapis.com/css?family=Lato|Play|Open+Sans);
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.intro-content button {
    position: absolute;
    margin: 0 -120px;
    left: 47%;
    padding: 0 10px;
    border: solid 2px #000;
    background-color: transparent;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5ss ease-in-out;
    transition: all .5ss ease-in-out;
    font-size: 70px;
    color: #696969;
}

.intro-content button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

li {
    list-style: none;
    display: inline;
}

a:hover {
    text-decoration: none;
    color: #4169E1;
}

a:link {
    text-decoration: none;
    color: #4169E1;
}

a:visited {
    text-decoration: none;
    color: #4169E1;
}

a:active {
    text-decoration: none;
    color: #4169E1;
}

.contact a {
    color: #000;
}

.contact a:hover {
    color: #808080;
}

#object {
    color: #87CEEB;
}

#new {
    color: #8B008B;
    font-style: oblique;
}

#tab {
    padding-left: 5em;
}

#pykey {
    color: #0000CD;
}

#classname {
    color: #7B68EE;
}

#functionname {
    color: #00FF00;
}

#self {
    color: #C71585;
}

#github:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#mail:hover {
    color: #DAA520;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#google:hover {
    color: #dd4b39;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#facebook:hover {
    color: #3b5999;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.navbar .navbar-inverse .navbar-fixed-top {
    border-radius: 0%;
    position: fixed;
}

.navbar-nav {
    list-style: none;
    margin: 10px;
    padding: 10px;
    float: right;
}

.navbar-nav a {
    padding: 10px;
    font-size: 1.5em;
}

.navbar move {
    color: #FFF;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.intro-bg {
    overflow: hidden;
    margin-top: 0;
    padding: 0;
    display: block;
    background-image: url(../images/Cross.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -999;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.intro {
    height: 100%;
    width: 100;
}

.intro-content {
    position: static;
    left: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.name {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.Title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 150px;
    font-weight: 100px;
    padding-top: 15%;
    padding-bottom: 0;
}

.darkbg {
    color: #708090;
}

.who {
    padding-top: 0;
    margin: 0;
    padding-bottom: 80px;
    background: url(../images/about.jpg);
    background-size: cover;
    width: 100%;
    min-width: 100%;
    position: static;
    z-index: -999;
    color: #696969;
}

.bio {
    font-family: "Lato" sans-serif;
    text-align: center;
    color: #FFFAFA;
    font-size: 25px;
}

.whoprog {
    padding-top: 100px;
    font-family: "Consolas";
    font-weight: 100;
    text-align: left;
    font-size: 20px;
}

.Title2 {
    font-family: "Lucida Grande" sans-serif;
    text-align: center;
    font-size: 75px;
    font-weight: 100px;
    padding: 0;
}

.t-contact {
    color: #000;
    font-size: 75px;
}

.contact-info {
    text-align: center;
}

.fa {
    font-size: 8.0em;
    margin: 20px;
    text-align: center;
}

.icons {
    text-align: center;
    font-size: 150px;
}

.theader {
    margin: 80px;
    text-align: center;
    font-size: 75px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.description {
    padding-top: 20px;
    font-size: 30px;
}

.seperation {
    background-image: -webkit-linear-gradient(left, #E0EEEE, #000, #E0EEEE);
    height: 2px;
    border: 0px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.seperationinverse {
    background-image: -webkit-linear-gradient(left, #171717, #FFF, #171717);
    height: 2px;
    border: 0px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.achievements {
    font-size: 25px;
    padding-top: 10px;
    font-family: "Gandhi Sans" sans-serif;
    text-align: center;
}

.prof {
    overflow: hidden;
    background-color: #000;
    color: white;
}

.python {
    font-size: 40px;
    color: #3C3;
}

.htmlprog {
    font-size: 40px;
    color: #E67E22;
    border-color: #FFF;
}

.RobotC {
    font-size: 40px;
    color: #D64541;
    border-color: #FFF;
}

.java {
    font-size: 40px;
    color: #D2527F;
    border-color: #FFF;
}

.Cplusplus {
    font-size: 40px;
    color: #F7CA18;
    border-color: #FFF;
}